{% extends 'base/authentication/reset_layout.html' %}


{% block content %}

<div class="container">
    <div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
      <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
        <div class="card z-index-0">
          <div class="card-header text-center pt-4">
            <h5>Enter new password</h5>
          </div>
          <div class="row px-xl-5 px-sm-4 px-3">
              <hr class="dark horizontal">
            <div class="mt-2 position-relative text-center">
              <p class="text-sm font-weight-bold mb-2 text-secondary text-border d-inline z-index-2 bg-white px-3">
                Please enter your new password twice so we can verify you typed it in correctly.
              </p>
            </div>
          </div>
          <div class="card-body">
            <form role="form" method="post">
                {% csrf_token %}
              <div class="mb-3">
                {{ form }}
              </div>
              <div class="text-center">
                <button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">Change my password</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var password1 = document.getElementById("id_new_password1");
    var password2 = document.getElementById("id_new_password2");
    password1.setAttribute("class", "form-control");
    password1.setAttribute('placeholder', 'Password');

    password2.setAttribute('class', 'form-control');
    password2.setAttribute('placeholder', 'Confirm Password');
  </script>

{% endblock %}