{% extends 'base/authentication/reset_layout.html' %}


{% block content %}


<div class="container">
    <div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
      <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
        <div class="card z-index-0">
          <div class="card-header text-center pt-4">
            <h5>Password reset complete </h5>
          </div>
          <div class="row px-xl-5 px-sm-4 px-3">
              <hr class="dark horizontal">
            <div class="mt-2 position-relative text-center">
              <p class="text-md font-weight-bold mb-2 text-secondary text-border d-inline z-index-2 bg-white px-3">
                Your new password has been set. You may go now and login your account.
              </p>
              <hr class="dark horizontal">

              <div class="text-center">
                <a type="button"  href="{% url 'login' %}" class="btn bg-gradient-dark w-100 my-4 mb-2">Login account</a>
              </div>


            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


{% endblock %}